@import '../../index.scss';

.worksPage {
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 0;
  background-color: #fff;
  .worksWrapper {
    width: 1580px;
    max-width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
    .work {
      > h2 {
        padding: 1rem 0;
      }
      .line {
        height: 0.5rem;
        background-color: $color;
        margin-bottom: 3rem;
      }
      a {
        display: block;
        position: relative;
        overflow: hidden;
        &:after {
          content: "";
          display: block;
          padding-bottom: 66.6%;
        }
        img {
          position: absolute;
          object-fit: cover;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.frame1,
.frame2,
.frame3,
.frame4 {
  position: fixed;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.frame1 {
  background-color: #fffebf;
}
.frame2 {
  background-color: #5791fc;
}
.frame3 {
  background-color: #ff8efb;
}
.frame4 {
  background-color: #8effa0;
}
