@import "./../../index.scss";

.navigate {
  min-height: 5vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  // background-color: #282828;
  @media (max-width: 576px) {
    min-height: auto;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #282828;
    z-index: 2;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    width: 1580px;
    max-width: 96%;
    padding: 2rem 0;
    @media (max-width: 1100px) {
      width: 100%;
    }
    @media (max-width: 576px) {
      padding: 1rem 0;
    }
    .burgerIcon {
      display: none;
      position: relative;
      z-index: 10;
      @media (max-width: 768px) {
        display: block;
      }
      span {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 30px;
        height: 3px;
        background-color: $color;
        transition: all 0.3s linear;
        opacity: 1;
        // transform-origin: left;
        &:first-child {
          transform: translateY(-8px) rotate(0deg);
        }
        &:last-child {
          transform: translateY(8px) rotate(0deg);
        }
      }
      &.active {
        span {
          &:first-child {
            transform: translate(-5px, -2px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: translate(-5px, -2px) rotate(-45deg);
          }
        }
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    .navMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      z-index: 10;
      @media (max-width: 768px) {
        flex-basis: 100%;
        max-width: 100%;
        flex-direction: column;
        padding-left: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 1rem 0 2rem;
        margin-bottom: 0;
        transition: all 0.4s ease-in-out;
        transform: translateY(-100%);
        z-index: -1;
        &.active {
          transform: translateY(0);
        }
      }
      li {
        margin-left: 10rem;
        position: relative;
        @media (max-width: 1100px) {
          margin-left: 5rem;
        }
        @media (max-width: 768px) {
          margin: 5px 0;
        }
        &:first-child {
          margin-left: 0;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -7px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $color;
          transition: all 0.3s ease-in-out;
        }
        &.active {
          &:after {
            width: 100%;
          }
        }
        a {
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          a {
            color: $color;
          }
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}
